.contacts-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.contacts-section  .content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contacts-section .subtitle {
    font-weight: 600;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0em;
    line-height: 1.5;
}

.contacts-section .title {
    margin-top: 16px;
}

.contacts-section .title-section .text {
    margin-top: 24px;
}

.contacts-section .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 8px 0;
}

.contacts-section .contact-item {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.contacts-section .icon {
    width: 24px;
    height: 24px;
}

.contacts-section .contacts-list .text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contacts-section .contact-type {
    line-height: 1.4;
    letter-spacing: -0.01em;

}

.contacts-section .contact {
    font-size: 16px;
}

.contacts-section .contact.tel {
    text-decoration: underline;
}

.contacts-section .image {
    width: 100%;
    height: 312px;
    border-radius: 32px;
    object-fit: cover;
}

.contacts-section .icon {
    fill: var(--black);
}

@media (min-width: 768px) {

    .contacts-section .content {
        flex-direction: row;
    }
    .contacts-section .image {
        height: 396px;
    }
    .contacts-section .title-section {
        width: 340px;
    }
    .contacts-section .contacts-list {
        width: 340px;
    }
}
@media (min-width: 1440px) {
    .contacts-section .content {
        gap: 80px;
    }
    .contacts-section .image {
        height: 720px;
    }
    .contacts-section .title-section {
        width: 700px;
    }
    .contacts-section .contacts-list {
        width: 500px;
    }
}