:root {
    --white: #ffffff;
    --black: #030C01;
    --yellow: #EEEE60;
    --yellow-button: #E8E81C;
    --green-button: #42ED13;
    --red: #AF0000;

    --title-line: 1.2;
    --text-line: 1.5;
    
}
